.equalizer {
    position: relative;
    width: 24px;
    height: 24px;
}

.equalizer .bar {
    position: absolute;
    width: 6px;
    bottom: 0;
    background: rgb(173, 173, 173);
}

.equalizer .bar.left {
    left: 0;
    height: 8px;
}

.equalizer .bar.center {
    left: calc(50% - 3px);
    height: 24px;
}

.equalizer .bar.right {
    right: 0;
    height: 16px;
}

.equalizer.active .bar.left {
    animation: wave 0.8s 0.2s infinite;
}

.equalizer.active .bar.center {
    animation: wave 0.8s infinite;
}

.equalizer.active .bar.right {
    animation: wave 0.8s 0.5s infinite;
}

@keyframes wave {
    0% {
        height: 0;
    }
    50% {
        height: 24px;
    }
    100% {
        height: 0;
    }
}

.someMusic-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    box-sizing: border-box;
    padding: 7px;
    width: 280px;
    height: 70px;
    background: rgba(10, 10, 10, 0.5);
}

.someMusic-wrapper.fixed {
    position: fixed;
    top: 70px;
    right: calc((44px - 280px));
    transition: right 0.4s;
    z-index: 999;
}

.someMusic-wrapper.fixed:hover {
    right: 0;
}

.someMusic-wrapper .someMusic-active-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    margin-right: 7px;
    cursor: default;
}

.someMusic-wrapper .someMusic-cover {
    background-size: cover;
    flex-basis: 60px;
    flex-shrink: 0;
    margin-right: 8px;
}

.someMusic-wrapper .someMusic-info-wrapper {
    display: flex;
    width: calc(100% - 60px - 30px - 8px - 7px);
    flex-direction: column;
}

.someMusic-info-wrapper .title-wrapper {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 4px 0;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.someMusic-info-wrapper .progress_bar {
    position: relative;
    height: 2px;
    background: rgba(42, 42, 42, 0.9);
    margin-bottom: 4px;
}

.someMusic-info-wrapper .progress_bar .progress {
    position: absolute;
    height: 2px;
    background: rgb(29, 253, 85);
}

.someMusic-info-wrapper .controller-wrapper {
    display: flex;
    width: 60%;
    margin: auto;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.someMusic-info-wrapper .controller-wrapper .controller {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.someMusic-info-wrapper .controller-wrapper .controller:hover {
    opacity: 0.6;
}

.someMusic-info-wrapper .controller-wrapper .controller.skip_previous {
    background: url(http://7xrkxs.com1.z0.glb.clouddn.com/someMusic/ic_skip_previous_white_24px.svg);
}

.someMusic-info-wrapper .controller-wrapper .controller.skip_next {
    background: url(http://7xrkxs.com1.z0.glb.clouddn.com/someMusic/ic_skip_next_white_24px.svg);
}

.someMusic-info-wrapper .controller-wrapper .controller.play {
    background: url(http://7xrkxs.com1.z0.glb.clouddn.com/someMusic/ic_play_arrow_white_24px.svg);
}

.someMusic-info-wrapper .controller-wrapper .controller.pause {
    background: url(http://7xrkxs.com1.z0.glb.clouddn.com/someMusic/ic_pause_white_24px.svg);
}